<?xml version="1.0"?>
<configuration>
  <!--<system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to www" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="www.brillian<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>tseotechnologies.com" negate="true" />
          </conditions>
          <action type="Redirect" url="http://www.brilliantseotechnologies.com/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>-->
  <configSections/>
  <appSettings>
    <add key="ChartImageHandler" value="storage=Memory;timeout=20;"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
  </appSettings>
  <connectionStrings>
    <add name="PSIC_DBConnectionString" connectionString="Data Source=N33M0Z\SQLEXPRESS;Initial Catalog=PSIC_DB;User ID=SA;Password=admin" providerName="System.Data.SqlClient"/>
    <add name="PSICPOS_DBConnectionString" connectionString="Data Source=N33M0Z\SQLEXPRESS;Initial Catalog=POSVR_DB;User ID=SA;Password=admin" providerName="System.Data.SqlClient"/>
    
    <!--<add name="PSIC_DBConnectionString" connectionString="Data Source=202.142.164.246;Initial Catalog=PSIC_DB;User ID=psic;Password=abc123**@" providerName="System.Data.SqlClient"/>
    <add name="PSICPOS_DBConnectionString" connectionString="Data Source=202.142.164.246;Initial Catalog=POSVR_DB;User ID=psic;Password=abc123**@" providerName="System.Data.SqlClient"/>-->
    
    <!--PSICPOS_DB<add name="PSIC_DBConnectionString1" connectionString="Data Source=Muhammad-PC;Initial Catalog=PSIC_DB;User ID=SA;Password=123" providerName="System.Data.SqlClient"/>-->
    <!-- <add name="PSIC_DBConnectionString" connectionString="Data Source=.;Initial Catalog=PSIC_DB;User ID=SA;Password=Ramadan2009" providerName="System.Data.SqlClient"/>
<add name="PSICPOS_DBConnectionString" connectionString="Data Source=202.142.164.245;Initial Catalog=POSVR_DB;User ID=SA;Password=Ramadan2009" providerName="System.Data.SqlClient"/>
<add name="PSIC_DBConnectionString1" connectionString="Data Source=202.142.164.245;Initial Catalog=PSIC_DB;User ID=SA;Password=Ramadan2009" providerName="System.Data.SqlClient"/>  
 -->
  </connectionStrings>
  <system.web>
    <sessionState timeout="30000"/>
    <!--<sessionState timeout="20"/>-->
    <machineKey validationKey="4FB0A065DDAE4397F7D4FB8D3D52333DBADD22DF5F70DD583DCCA209CFCEDB377573E044CB1D4551F756AF8EC44DBA6920A411880E2B66F95EA013D6E7F84CB7" decryptionKey="1D7D4F2408EF34E45C93336221B9F72951892A7DF85DF84C6B3A8E128678B92B" validation="SHA1" decryption="AES"/>
    <customErrors mode="Off"/>
    <!--<httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151" maxRequestLength="1048576" executionTimeout="100000"/>-->
    <!--<httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151" maxRequestLength="1048576" executionTimeout="100000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true"/>-->
    <httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151" useFullyQualifiedRedirectUrl="false" enableVersionHeader="true" executionTimeout="100000" maxRequestLength="50000"/>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!--<add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>-->
        <!--<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>-->
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </buildProviders>
    </compilation>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" validate="false"/>
    </httpHandlers>
    <authorization>
      <allow users="*"/>
      <allow users="*"/>
      <allow users="*"/>
    </authorization>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10999" maxQueryString="2097151" maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
    <!--<validation validateIntegratedModeConfiguration="false"/>-->
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <!--<add name="AjaxFileUploadHandler" verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>-->
      <add name="AjaxFileUploadHandler" verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
    </handlers>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-Powered-By" value="ASP.NET"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>