<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\Captain\Desktop\PSIC\PSIC.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/PSIC</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PSIC_DBConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=202.142.164.246;Initial Catalog=PSIC_DB;User ID=psic;Password=abc123**@" />
          <Object Type="DbDacFx" Enabled="False">
            <PreSource Path="Data Source=N33M0Z\SQLEXPRESS;Initial Catalog=PSIC_DB;User ID=SA;Password=admin" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PSIC_DBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=N33M0Z\SQLEXPRESS;Initial Catalog=PSIC_DB;User ID=SA;Password=admin" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PSICPOS_DBConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=202.142.164.246;Initial Catalog=POSVR_DB;User ID=psic;Password=abc123**@" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=N33M0Z\SQLEXPRESS;Initial Catalog=POSVR_DB;User ID=SA;Password=admin" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PSICPOS_DBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=N33M0Z\SQLEXPRESS;Initial Catalog=POSVR_DB;User ID=SA;Password=admin" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PSICPOS_DBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=202.142.164.246;Initial Catalog=POSVR_DB;User ID=psic;Password=abc123**@</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PSIC_DBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=202.142.164.246;Initial Catalog=PSIC_DB;User ID=psic;Password=abc123**@</ParameterValue>
    </MSDeployParameterValue>
    <ExcludeFromPackageFolders Include="inetpub">
      <FromTarget>PSIC</FromTarget>
    </ExcludeFromPackageFolders>
  </ItemGroup>
</Project>